<!DOCTYPE html>
<html lang="de">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scom Schnittstelle</title>
 </head>
 <body>
  <h1>Scom Werte mit flask</h1>
  <p>Die aktuelle Eingangsspannung ist <span id="u_eingang"></span> V AC</p>
  <p>ID 3000 <span id="id_3000"></span> V AC</p>

  <script>
   function update_u_eingang()
   {
      url = "http://fhem.aljam.de:5000/list"
      fetch( url )
         .then( response => {
            if( !response.ok )
               throw new Error( "fetch failed in update_u_eingang() :" + url  ) ;

            return response.json() ;
         } )
         .then( json => document.querySelector("#u_eingang").textContent = json.id3011)
         .catch( error => alert(error) ) ;
   }
   update_u_eingang() ;


   function get_value_by_id(id)
   {
      //fetch( "/value_by_id?id=" + id.toString())
      //url = "/value_by_id"
      //fetch(url, params = {id:3005})
      //url = "/value_by_id"
      var url = new URL("http://fhem.aljam.de:5000/value_by_id"), params = {id:3000}
      Object.keys(params).forEach(key => url.searchParams.append(key, params[key]))
      fetch(url)
         .then( response => 
         {
            if( !response.ok )
               throw new Error( "fetch failed in get_value_by_id() : " + url ) ;

            return response.json() ;
         } )
         .then( json => document.querySelector("#id_" + id.toString()).textContent = json.value_by_id )
         .catch( error => alert(error) ) ;
   }


   function get_value_by_id1(id)
   {
      //fetch( "/value_by_id?id=" + id.toString())


      const url = '/value_by_id';

      let data = {
         id: '3000'
      }

      var request = new Request(url, {
         method: 'POST',
         body: data,
         headers: new Headers()
      });

      fetch(url)
         .then( response => 
         {
            if( !response.ok )
               throw new Error( "fetch failed in get_value_by_id() : " + url ) ;

            return response.json() ;
         } )
         .then( json => document.querySelector("#id_" + id.toString()).textContent = json.value_by_id )
         .catch( error => alert(error) ) ;
   }


   function update_all()
   {
      get_value_by_id(3000);
   }
   //update_all();
 


   setInterval( update_u_eingang, 5000 ) ;
   //setInterval( update_all, 3000 ) ;

  </script>
 </body>
</html>
